.appFooter {
    padding: 10px;
    border-top: 1px solid #d6dadc;
}

.appFooterIcons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.copyright {
    text-align: center;
    margin-top: 6px;
}
