.appFooter {
    padding: 10px;
    border-top: 1px solid var(--BORDER_SECONDARY);
    background: var(--BG_HEAD);
    box-shadow: var(--PLATE_SHADOW);
}

.appFooterIcons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.copyright {
    text-align: center;
    margin-top: 6px;
    color: var(--TXT_HEADER);
}
