.migratorContainer {
    display: flex;
    height: 100%;
}

.sidebar {
    padding: 5px;
}

.allotmentItem {
    background: var(--BG_OBJECT);
    color: var(--TXT_HEADER);
}

.noAllotmentItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noitem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.reactFlowContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.projectNamesContainer {
    display: flex;
    gap: 10px;
    padding: 10px;
    min-height: 40px;
    border-bottom: 1px solid var(--BORDER_SECONDARY);
    background: var(--BG_OBJECT);
    box-shadow: var(--PLATE_SHADOW);
    color: var(--TXT_HEADER);
}

.hr {
    padding: 0;
    height: 100%;
    width: 1px;
    border: none;
    background: var(--BORDER_SECONDARY);
}

.reactFlow {
    width: 100%;
    height: 100%;
    background-color: #f1f6f9;

    display: flex;
    align-items: center;
    justify-content: center;
}
