.dropdown {
    position: relative;
    display: inline-block;
    background: var(--BG_INPUT);
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 7px 8px;
    border: 1px solid var(--BORDER_PRIMARY);
    border-radius: 4px;
    cursor: pointer;
}

.buttonText {
    display: flex;
    align-items: center;
}

.labelHor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.lableVert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdownArrow {
    transform: rotate(0deg);
    transition: transform 0.1s ease;
}

.dropdownArrowOpen {
    transform: rotate(180deg);
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background: var(--BG_INPUT);
    z-index: 1000;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 7.5px 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;

    &:hover {
        background: var(--OBJECT_HOVER);
    }
}

.menuItem:last-child {
    border-bottom: none;
}
