.select {
    height: 30px;
    width: 100%;
    line-height: 1.2857142857em;
    border-radius: 0.2142857143em;
    border: 1px solid gray;
    padding: 3px;
    font-size: 14px;
    cursor: pointer;

    &:focus {
        border: 1px solid gray;
    }
}
